@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Gugi&family=Montserrat:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #222;
    color: #FFF;
    font-family:"Gugi", sans-serif;
}
.cruds {
    width: 80%;
    margin: auto;
}
.head {
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0;
}
#deleteAll {
    margin: 20px 0;
}
input {
    width: 100%;
    height: 30px;
    border: none;
    outline: none;
    margin: 4px 0;
    background: #111;
    border-radius: 5px;
    padding: 4px;
    color: #FFF;
    transition: .3s;
}
input:focus {
    background: #111;
    transform: scale(1.1);
}
.price input {
    width: 20%;
}
#total {
    background: #ff0000b8;
    padding: 5px 2px;
    border-radius: 4px;
}
#total::before {
    content: "Total: ";
}
button {
    width: 100%;
    height: 30px;
    background: #b222aec7;
    border: none;
    color: #FFF;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s;
}
button:hover {
    background: #51025f;
    letter-spacing: 1px;
}
.btnSearch {
    display: flex;
    justify-content: space-between;
}
.btnSearch button {
    width: 45%;
}
table {
    width: 100%;
    text-align: center;
    margin: 10px 0;
}
table th {
    text-transform: uppercase;
}
th, td {
    padding: 5px;
}